<div class="col-md-12">
  <br />
</div>
<div class="col-md-12">
  <ag-grid-angular style="width: 100%; height: 720px;"
                   class="ag-theme-fresh"
                   rowSelection="single"
                   rowHeight="40"
                   [rowData]="rowData"
                   [columnDefs]="columnDefs"
                   [enableSorting]="true"
                   [enableColResize]="true"
                   [pagination]="true"
                   [paginationPageSize]="paginationPageSize"
                   [enableFilter]="true"
                   [floatingFilter]="true"
                   [frameworkComponents]="frameworkComponents"
                   [context]="context"
                   (gridReady)="onGridReady($event)">
  </ag-grid-angular>
</div>
