<div class="row">
  <div class="col-md-7">
    <div class="form-group">
      <label>Espectrometro: </label>
      <select [(ngModel)]="experimento.espectrometro" class="form-control" name="espectrometro" id="espectrometro" (change)="onSelectEspectrometro($event.target.value)">
        <option *ngFor="let espectrometro of espectrometros" [value]="espectrometro">{{espectrometro}}</option>
      </select>
    </div>
  </div>

  <div class="col-md-7">
    <div class="form-group">
      <label>Sondas: </label>
      <select [(ngModel)]="experimento.sonda" class="form-control" name="sonda" id="sonda">
        <option *ngFor="let sonda of sondas" [value]="sonda">{{sonda}}</option>
      </select>
    </div>
  </div>

  <div class="col-md-7">
    <div class="form-group">
      <label>Fecha de entrada: </label>
      <input type="date" class="form-control" [ngModel]="startDate | date:'yyyy-MM-dd'" (ngModelChange)="finDate = $event" name="fecha_entrada">
    </div>
  </div>

  <div class="col-md-7">
    <div class="form-group">
      <label>Usuario de entrada: </label>
      <input type="text" class="form-control" name="usuario_entrada">
    </div>
  </div>
</div>
